<div class="container">
    <form class="form" method="POST" (ngSubmit) ="onSubmit()">  
    
        <div class="card mt-5">
            <legend class="text-center header mt-3">Datos Personales</legend>

            <div class="card-body">
                

                    <!-- Registro de nombres y apellidos-->
                    <div class="row">

                        <div class="form-group col">
                            <label for="name">Nombre Completo:</label>
                            <input type="text" [(ngModel)]="client.name"  name="name" class="form-control mt-2" id="name"  placeholder="Ejemplo: Juan " required>
                        </div>
        
                        <div class="form-group col">
                            <label for="last-name">Apellidos:</label>
                            <input type="text" [(ngModel)]="client.last_name" class="form-control mt-2" id="last-name" name="last-name" placeholder="Ejemplo: Perez" required>
                        </div>

                    </div>


                    <!--Registro de email y telefono-->
                    <div class="row mt-4">

                        <div class="form-group col">
                            <label for="phone">Teléfono:</label>
                            <input type="text" [(ngModel)]="client.phone" pattern="[0-9]{10}"  id="phone" class="form-control mt-2" name="phone" placeholder="Ejemplo: 3211457856" required>
                            
                        </div>
        
                        <div class="form-group col">
                            <label for="email">Email:</label>
                            <input type="email" [(ngModel)]="client.email" class="form-control mt-2" id="email" name="email" placeholder="Ejemplo: juan@example.com" required>
                        </div>
                        
                    </div>

                    <!--Registro de cedula y fecha de expedicion-->
                    <div class="row mt-4">

                      

                        <div class="form-group col">
                            <label for="dni">Identificación:</label>
                            <input type="text" [(ngModel)]="client.dni"  pattern="[0-9]{10}"  id="dni" class="form-control mt-2" name="dni" placeholder="Ejemplo: 1004254789" required>
                            
                        </div>

                                        
                        
                    </div>

                    <!--Registro de pais provincia y ciudad -->
                    <div class="row mt-4">

                        <div class="form-group col">

                            <label for="country">Pais:</label>
                            <select class="form-control mt-2" [(ngModel)]="client.country" id="country" name="country" required>
                                <option selected>Pais</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                            
                        </div>
        
                        <div class="form-group col">

                            <label for="province">Provincia:</label>
                            <select class="form-control mt-2" [(ngModel)]="client.province" id="province" name="province" required>
                                <option selected>Provincia</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                            
                        </div>

                        <div class="form-group col">

                            <label for="city">Ciudad:</label>
                            <select class="form-control mt-2" [(ngModel)]="client.city" id="city" name="city" required>
                                <option selected>ciudad</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                            
                        </div>
                    </div>

                        <!--Registro domicilo y codigo postal-->
                    <div class="row mt-4 ">

                        <div class="form-group col">
                            <label for="address">Dirección de residencia:</label>
                            <input type="text" id="addres" [(ngModel)]="client.location" class="form-control mt-2" name="address" placeholder="Ejemplo: Carrera 35 #35-24, Barrio tejar" required>
                            
                        </div>
        
                        <div class="form-group col">
                            <label for="postal_code">Código postal:</label>
                            <input type="text" pattern="[0-9]{6}" [(ngModel)]="client.postal_code"  id="postal_code" class="form-control mt-2" name="postal_code" placeholder="Ejemplo: 520008">
                        </div>
                        
                    </div>
                        
                

                    
                        
                
            </div>

            <div class="card-footer mt-5">
                <div class="col-md-12 text-center mt-4">
                    <a class="btn btn-secondary btn-lg m-5">Regresar</a>
                    <button class="btn btn-primary btn-lg" >Continuar</button>
                </div>

            </div>

    
        </div>
    </form>

</div>

