<div class="container">

  <div class="m-5">

      <a class="btn btn-lg btn-outline-primary" routerLink="/shipping_plan">Realizar Envió</a>

  </div>


</div>


<!--TABLA PARA MOSTRAR  BODEGAS Y PUERTOS -->

<div class="container mt-5" >

  <div>
      <h3>Envios Registrados</h3>
  </div>

  <div class="row m-4">
    <label for="filter" class="col-md-2 control-label">Filtro</label> 
    <input type="text" class="form-control " style="width: 250px;" placeholder="busqueda por dni" [(ngModel)] ="filter" name="filter">
</div>

  <table class="table mt-5">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">DNI Cliente</th> 
          <th scope="col">Logistica </th>
          <th scope="col">Tipo Producto </th>
          <th scope="col">Cantidad</th>
          <th scope="col">Fecha Registro</th>
          <th scope="col">Fecha Entrega</th>
          <th scope="col">Bodega Entrega</th>
          <th scope="col">Id Vehículo</th>
          <th scope="col"># guia</th>
          <th scope="col">Precio Envió</th>
          
     
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listShipping | slice: (page-1) * pageSize : page * pageSize | filterShipping:filter  ; index as i ">
          <th scope="row">{{i+1}}</th>
          <td>{{item.id_client }}   </td>
          <td>{{item.logistic }}   </td>
          <td>{{item.type_product}}</td>
          <td>{{item.quantity}} u</td>
          <td>{{item.register_date}}</td>
          <td>{{item.delivery_date}}</td>
          <td>{{item.cellar_delivery}}</td>
          <td>{{item.id_transport}}</td>
          <td>{{item.number_guide}}</td>
          <td>$ {{item.price}}</td>
         
          
        
        </tr>
        
      </tbody>
    </table>

    <ngb-pagination
  [(page)]="page"
  [pageSize]="pageSize"
  [collectionSize]="listShipping.length"></ngb-pagination>

</div>











