<div class="container" >
    
    <div class="card mt-5">
        <legend class="text-center header mt-3">Información de Envió</legend>

        <div class="card-body">
            <form  [formGroup]="formRegisterShipping"  class="form" method="POST"  novalidate (ngSubmit) ="onSubmitShipping()">


                <div class="row ">
                    <div class="form-group col">
                        <label for="city">Logistica:</label>
                        <select class="form-control mt-2" id="city"   [(ngModel)]="shipping.logistic" formControlName="logistic" [class.is-invalid] = "formRegisterShipping.get('logistic')?.hasError('required') && formRegisterShipping.get('logistic')?.touched">
                            <option selected>Terrestre</option>
                            <option value="1">Maritima</option>
                    
                        </select>

                        <small *ngIf="formRegisterShipping.get('logistic')?.hasError('required') && formRegisterShipping.get('logistic')?.touched"> Este Campo es requerido</small>
                      </div>
                </div>


                <!-- Registro tipo de producto y cantidad de producto-->
                <div class="row mt-5">

                    <div class="form-group col">
                        <label for="type-product">Tipo de producto:</label>
                        <input type="text" class="form-control mt-2" id="type-product"  name="type-product" [(ngModel)]="shipping.type_product" formControlName="type_product" [class.is-invalid] = "formRegisterShipping.get('type_product')?.hasError('required') && formRegisterShipping.get('type_product')?.touched">

                        <small *ngIf="formRegisterShipping.get('type_product')?.hasError('required') && formRegisterShipping.get('type_product')?.touched"> Este Campo es requerido</small>

                    </div>
    
                    <div class="form-group col">
                        <label for="quantity-product">Cantidad del producto:</label>
                        <input type="text" class="form-control mt-2" id="quantity-product"  name="quantity-product" [(ngModel)]="shipping.quantity" formControlName="quantity" [class.is-invalid] = "formRegisterShipping.get('quantity')?.hasError('required') && formRegisterShipping.get('quantity')?.touched">

                        <small *ngIf="formRegisterShipping.get('quantity')?.hasError('pattern') && formRegisterShipping.get('quantity')?.touched"> solo se admite valores numéricos</small>

                        <small *ngIf="formRegisterShipping.get('quantity')?.hasError('required') && formRegisterShipping.get('quantity')?.touched"> Este Campo es requerido</small>

                    </div>

                </div>


                <!--Fecha de resgistro -->
                <div class="row mt-4">

                    <div class="form-group col">
                        <label for="register-date">Fecha de registro:</label>
                       <div class="row">
                           <div class="col">
                                <input class="form-control" placeholder="yyyy-mm-dd" type="date"
                                name="register-date"   [(ngModel)]="shipping.register_date" formControlName="register_date" [class.is-invalid] = "formRegisterShipping.get('register_date')?.hasError('required') && formRegisterShipping.get('register_date')?.touched">

                                <small *ngIf="formRegisterShipping.get('register_date')?.hasError('required') && formRegisterShipping.get('register_date')?.touched"> Este Campo es requerido</small>
                       
                           </div>
                           
                        
                       </div>
                        
                    </div>  

                    <!--fecha de  entrega -->
                    <div class="form-group col">
                        <label for="delivery-date">Fecha de entrega:</label>
                       <div class="row">
                           <div class="col">
                                <input class="form-control" placeholder="yyyy-mm-dd" type="date"
                                name="delivery-date"   [(ngModel)]="shipping.delivery_date" formControlName="delivery_date" [class.is-invalid] = "formRegisterShipping.get('delivery_date')?.hasError('required') && formRegisterShipping.get('delivery_date')?.touched">

                                <small *ngIf="formRegisterShipping.get('delivery_date')?.hasError('required') && formRegisterShipping.get('delivery_date')?.touched"> Este Campo es requerido</small>
                       
                           </div>
                           
                        
                       </div>
                        
                    </div>  
                    
                </div>

                
                <div class="row mt-4">

                    <!--Bodega de entrega-->

                    <div class="form-group col">

                        <label for="cellar_delivery">Bodega de entrega:</label>
                        <select class="form-control mt-2" id="cellar-delivery" name="cellar_delivery"   [(ngModel)]="shipping.cellar_delivery" formControlName="cellar_delivery" [class.is-invalid] = "formRegisterShipping.get('cellar_delivery')?.hasError('required') && formRegisterShipping.get('cellar_delivery')?.touched">
                            <option selected>--- </option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>

                        <small *ngIf="formRegisterShipping.get('cellar_delivery')?.hasError('required') && formRegisterShipping.get('cellar_delivery')?.touched"> Este Campo es requerido</small>
                        
                    </div>

                    <div class="form-group col">
                        <label for="price">Precio de envió:</label>
                        <input type="text"   id="price" class="form-control mt-2" name="price" [(ngModel)]="shipping.price" formControlName="price" [class.is-invalid] = "formRegisterShipping.get('price')?.hasError('required') && formRegisterShipping.get('price')?.touched">

                        <small *ngIf="formRegisterShipping.get('price')?.hasError('required') && formRegisterShipping.get('price')?.touched"> Este Campo es requerido</small>

                        <small *ngIf="formRegisterShipping.get('price')?.hasError('pattern') && formRegisterShipping.get('price')?.touched"> Este campo solo admite valores numéricos</small>
                        
                    </div>

                   
    
                    
                    
                </div>

         
               <!---->

                     
                <div class="row mt-4 ">

                    <div class="form-group col">
                        <label for="id_transport">Placas del vehículo:</label>
                        <input type="text" id="id_transport" class="form-control mt-2" name="id_transport"  [(ngModel)]="shipping.id_transport" formControlName="id_transport" 
                        [class.is-invalid] = "formRegisterShipping.get('id_transport')?.hasError('required') && formRegisterShipping.get('id_transport')?.touched">

                        <small *ngIf="formRegisterShipping.get('id_transport')?.hasError('required') && formRegisterShipping.get('id_transport')?.touched"> Este Campo es requerido</small>
                        
                    </div>
    
                    <div class="form-group col">
                        <label for="num_guide">Numero de guía:</label>
                        <input type="text"   id="postal_code" class="form-control mt-2" name="num_guide" [(ngModel)]="shipping.number_guide" formControlName="number_guide" [class.is-invalid] = "formRegisterShipping.get('number_guide')?.hasError('required') && formRegisterShipping.get('number_guide')?.touched">

                        <small *ngIf="formRegisterShipping.get('number_guide')?.hasError('required') && formRegisterShipping.get('number_guide')?.touched"> Este Campo es requerido</small>

                    </div>
                    
                </div>

                <div class="card-footer mt-5">


                    <div *ngIf="formRegisterShipping.invalid ">
                        <ngb-alert [type]="alerts[3].type" (closed)="close(alerts[3])">{{ alerts[3].message }}</ngb-alert>
                    </div>
        
                    <div *ngIf="formRegisterShipping.valid ">
                        <ngb-alert [type]="alerts[1].type" (closed)="close(alerts[1])">{{ alerts[1].message }}</ngb-alert>
                    </div>
        
                    <div class="col-md-12 text-center mt-4">
                    
                        <button type="submit" class="btn btn-success btn-lg" [disabled]="formRegisterShipping.invalid" >Finalizar</button>
                    </div>
        
                </div>
                    
             

                
                    
            </form>
        </div>

        
    </div>

</div>