<div class="container">
    
    <div class="card mt-5">
        <legend class="text-center header mt-3">Información de Envió</legend>

        <div class="card-body">
            <form class="form" method="POST">

                <div class="row ">
                    <div class="form-group col">
                        <label for="city">Logistica:</label>
                        <select class="form-control mt-2" id="city" name="city" required>
                            <option selected>Terrestre</option>
                            <option value="1">Maritima</option>
                    
                        </select>
                      </div>
                </div>


                <!-- Registro tipo de producto y cantidad de producto-->
                <div class="row mt-5">

                    <div class="form-group col">
                        <label for="type-product">Tipo de producto:</label>
                        <input type="text" class="form-control mt-2" id="type-product" placeholder="Tipo de producto" name="type-product" required>
                    </div>
    
                    <div class="form-group col">
                        <label for="quantity-product">Cantidad del producto:</label>
                        <input type="text" class="form-control mt-2" id="quantity-product" placeholder="Cantidad del producto" name="quantity-product" required>
                    </div>

                </div>


                <!--Fecha de resgistro -->
                <div class="row mt-4">

                    <div class="form-group col">
                        <label for="register-date">Fecha de registro:</label>
                       <div class="row">
                           <div class="col">
                                <input class="form-control" placeholder="yyyy-mm-dd" type="text"
                                name="register-date"  ngbDatepicker #d2="ngbDatepicker">
                       
                           </div>
                           <div class="col">
                            <button class="btn btn-outline-secondary calendar w-auto h-auto " (click)="d2.toggle()" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-date" viewBox="0 0 16 16">
                                    <path d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z"/>
                                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                                  </svg>
                            </button>
                           </div>
                        
                       </div>
                        
                    </div>  

                    <!--fecha de  entrega -->
                    <div class="form-group col">
                        <label for="delivery-date">Fecha de entrega:</label>
                       <div class="row">
                           <div class="col">
                                <input class="form-control" placeholder="yyyy-mm-dd" type="text"
                                name="delivery-date"  ngbDatepicker #d3="ngbDatepicker">
                       
                           </div>
                           <div class="col">
                            <button class="btn btn-outline-secondary calendar w-auto h-auto " (click)="d3.toggle()" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-date" viewBox="0 0 16 16">
                                    <path d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z"/>
                                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                                  </svg>
                            </button>
                           </div>
                        
                       </div>
                        
                    </div>  
                    
                </div>

                
                <div class="row mt-4">

                    <!--Bodega de entrega-->

                    <div class="form-group col">

                        <label for="cellar-delivery">Bodega de entrega:</label>
                        <select class="form-control mt-2" id="cellar-delivery" name="cellar-delivery" required>
                            <option selected>--- </option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        
                    </div>

                    <div class="form-group col">
                        <label for="dni">Precio de envió:</label>
                        <input type="tel" pattern="[0-9]{16}"  id="dni" class="form-control mt-2" name="dni" placeholder="$000.000.000" required>
                        
                    </div>

                   
    
                    
                    
                </div>

         
               <!---->

                     
                <div class="row mt-4 ">

                    <div class="form-group col">
                        <label for="address">Placas del vehículo:</label>
                        <input type="text" id="addres" class="form-control mt-2" name="address" placeholder="Ejemplo: Carrera 35 #35-24, Barrio tejar" required>
                        
                    </div>
    
                    <div class="form-group col">
                        <label for="postal_code">Numero de guía:</label>
                        <input type="text" pattern="[0-9]{6}"  id="postal_code" class="form-control mt-2" name="postal_code" placeholder="Ejemplo: 520008" required>
                    </div>
                    
                </div>
                    
             

                
                    
            </form>
        </div>

        <div class="card-footer mt-5">
            <div class="col-md-12 text-center mt-4">
                <a class="btn btn-secondary btn-lg m-5" href="javascript:history.back()">Regresar</a>
                <a class="btn btn-success btn-lg" routerLink="" routerLinkActive="active" >Finalizar</a>
            </div>

        </div>
    </div>

</div>



