<div class="container" >
    
    <div class="card mt-5">
        <legend class="text-center header mt-3">Consulta de clientes</legend>


     

        <div class="card-body">



               <!--Ingreso del id del cliente par relacionarlo con un envio-->
            <div class="row">

                <div class="form-group col">
                    <label for="city">DNI del cliente:</label>
                    <input type="text" class="form-control mt-2" id="dni"  name="dni" [(ngModel)]="dniClient">                  
                </div>
                
                <div class="form-group col">
                    
                    <button class=" btn btn-outline-info " style="margin-top: 30px; width: 100px;" (click)="findClient()" > Validar</button>                 
                </div>


            </div>


            <!--div si el cliente no existe-->

            <div class="mt-3">

                 <!--div si el cliente no existe-->

                <div *ngIf="redirectRegister">
                    <ngb-alert [type]="alerts[4].type" (closed)="close(alerts[4])">{{ alerts[4].message }}</ngb-alert>

                    <div class="form-group col">
                    
                        <a class=" btn btn-outline-primary " style="margin-top: 5px; "  routerLink="/user_register"  routerLinkActive="active"> Registro de Clientes</a>                 
                    </div>

                </div>

                 <!--div si el cliente  existe-->

                 <div *ngIf="existClient">
                    <ngb-alert [type]="alerts[5].type" >{{ alerts[5].message }}</ngb-alert>

                    

                </div>

                

            </div>

            <!-- formulario si el ciente existe-->
            <form  [formGroup]="formRegisterShipping"  class="form " method="POST"  novalidate (ngSubmit) ="onSubmitShipping()" *ngIf="existClient">

                <legend class="text-center header">Información del Envió</legend>

                <div class="row ">
                    <div class="form-group col">
                        <label for="city">Logistica:</label>
                        <select class="form-control mt-2" id="city"   [(ngModel)]="shipping.logistic" formControlName="logistic" [class.is-invalid] = "formRegisterShipping.get('logistic')?.hasError('required') && formRegisterShipping.get('logistic')?.touched">
                            <option selected>Terrestre</option>
                            <option value="Maritima">Maritima</option>
                    
                        </select>

                        <small *ngIf="formRegisterShipping.get('logistic')?.hasError('required') && formRegisterShipping.get('logistic')?.touched"> Este Campo es requerido</small>
                      </div>
                </div>


                <!-- Registro tipo de producto y cantidad de producto-->
                <div class="row mt-5">

                    <div class="form-group col">
                        <label for="type-product">Tipo de producto:</label>
                        <input type="text" class="form-control mt-2" id="type-product"  name="type-product" [(ngModel)]="shipping.type_product" formControlName="type_product" [class.is-invalid] = "formRegisterShipping.get('type_product')?.hasError('required') && formRegisterShipping.get('type_product')?.touched">

                        <small *ngIf="formRegisterShipping.get('type_product')?.hasError('required') && formRegisterShipping.get('type_product')?.touched"> Este Campo es requerido</small>

                    </div>
    
                    <div class="form-group col">
                        <label for="quantity-product">Cantidad del producto:</label>
                        <input type="text" class="form-control mt-2" id="quantity-product"  name="quantity-product" [(ngModel)]="shipping.quantity" formControlName="quantity" [class.is-invalid] = "formRegisterShipping.get('quantity')?.hasError('required') && formRegisterShipping.get('quantity')?.touched">

                        <small *ngIf="formRegisterShipping.get('quantity')?.hasError('pattern') && formRegisterShipping.get('quantity')?.touched"> solo se admite valores numéricos</small>

                        <small *ngIf="formRegisterShipping.get('quantity')?.hasError('required') && formRegisterShipping.get('quantity')?.touched"> Este Campo es requerido</small>

                    </div>

                </div>


                <!--Fecha de resgistro -->
                <div class="row mt-4">

                    <div class="form-group col">
                        <label for="register-date">Fecha de registro:</label>
                       <div class="row">
                           <div class="col">
                                <input class="form-control" placeholder="yyyy-mm-dd" type="date"
                                name="register-date"   [(ngModel)]="shipping.register_date" formControlName="register_date" [class.is-invalid] = "formRegisterShipping.get('register_date')?.hasError('required') && formRegisterShipping.get('register_date')?.touched">

                                <small *ngIf="formRegisterShipping.get('register_date')?.hasError('required') && formRegisterShipping.get('register_date')?.touched"> Este Campo es requerido</small>
                       
                           </div>
                           
                        
                       </div>
                        
                    </div>  

                    <!--fecha de  entrega -->
                    <div class="form-group col">
                        <label for="delivery-date">Fecha de entrega:</label>
                       <div class="row">
                           <div class="col">
                                <input class="form-control" placeholder="yyyy-mm-dd" type="date"
                                name="delivery-date"   [(ngModel)]="shipping.delivery_date" formControlName="delivery_date" [class.is-invalid] = "formRegisterShipping.get('delivery_date')?.hasError('required') && formRegisterShipping.get('delivery_date')?.touched">

                                <small *ngIf="formRegisterShipping.get('delivery_date')?.hasError('required') && formRegisterShipping.get('delivery_date')?.touched"> Este Campo es requerido</small>
                       
                           </div>
                           
                        
                       </div>
                        
                    </div>  
                    
                </div>

                
                <div class="row mt-4">

                    <!--Bodega de entrega-->

                    <div class="form-group col">

                        <label for="cellar_delivery">Bodega de entrega:</label>
                        <select class="form-control mt-2" id="cellar-delivery" name="cellar_delivery"   [(ngModel)]="shipping.cellar_delivery" formControlName="cellar_delivery" [class.is-invalid] = "formRegisterShipping.get('cellar_delivery')?.hasError('required') && formRegisterShipping.get('cellar_delivery')?.touched">
                            <option selected>--- </option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>

                        <small *ngIf="formRegisterShipping.get('cellar_delivery')?.hasError('required') && formRegisterShipping.get('cellar_delivery')?.touched"> Este Campo es requerido</small>
                        
                    </div>

                    <div class="form-group col">
                        <label for="price">Precio de envió:</label>
                        <input type="text"   id="price" class="form-control mt-2" name="price" [(ngModel)]="shipping.price" formControlName="price" [class.is-invalid] = "formRegisterShipping.get('price')?.hasError('required') && formRegisterShipping.get('price')?.touched">

                        <small *ngIf="formRegisterShipping.get('price')?.hasError('required') && formRegisterShipping.get('price')?.touched"> Este Campo es requerido</small>

                        <small *ngIf="formRegisterShipping.get('price')?.hasError('pattern') && formRegisterShipping.get('price')?.touched"> Este campo solo admite valores numéricos</small>
                        
                    </div>

                   
    
                    
                    
                </div>

         
               <!---->

                     
                <div class="row mt-4 ">

                    <div class="form-group col">
                        <label for="id_transport">Placas del vehículo:</label>
                        <input type="text" id="id_transport" class="form-control mt-2" name="id_transport"  [(ngModel)]="shipping.id_transport" formControlName="id_transport" 
                        [class.is-invalid] = "formRegisterShipping.get('id_transport')?.hasError('required') && formRegisterShipping.get('id_transport')?.touched">

                        <small *ngIf="formRegisterShipping.get('id_transport')?.hasError('required') && formRegisterShipping.get('id_transport')?.touched"> Este Campo es requerido</small>
                        
                    </div>
    
                    <div class="form-group col">
                        <label for="num_guide">Numero de guía:</label>
                        <input type="text"   id="postal_code" class="form-control mt-2" name="num_guide" [(ngModel)]="shipping.number_guide" formControlName="number_guide" [class.is-invalid] = "formRegisterShipping.get('number_guide')?.hasError('required') && formRegisterShipping.get('number_guide')?.touched">

                        <small *ngIf="formRegisterShipping.get('number_guide')?.hasError('required') && formRegisterShipping.get('number_guide')?.touched"> Este Campo es requerido</small>

                    </div>
                    
                </div>

                <div class="card-footer mt-5">


                    <div *ngIf="formRegisterShipping.invalid ">
                        <ngb-alert [type]="alerts[3].type" (closed)="close(alerts[3])">{{ alerts[3].message }}</ngb-alert>
                    </div>
        
                    <div *ngIf="formRegisterShipping.valid ">
                        <ngb-alert [type]="alerts[1].type" (closed)="close(alerts[1])">{{ alerts[1].message }}</ngb-alert>
                    </div>
        
                    <div class="row text-center mt-4">


                        <a class="btn btn-lg btn-outline-secondary col" (click)="clearInputs()" style="margin-right: 20px;" (closed)="close(alerts[5])">Limpiar Campos</a>

                        <a class="btn btn-lg btn-outline-warning col"  [class.disabled]="formRegisterShipping.invalid" (click)="open(content)" style="margin-left: 20px;">Continuar</a>
                    
                       
                    </div> 
        
                </div>
                    
             

                
                    
            </form>

            






        </div>

        
    </div>

</div>



<!--MODAL CONFIRMACION ENVIO-->

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Confirmación de Envió</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">

        <table class="table">
            
            <tbody>
              <tr>
                <th scope="row">Logistica:</th>
                <td>{{shipping.logistic}}</td>

              </tr>
              <tr>
                <th scope="row">Tipo de Producto:</th>
                <td>{{shipping.type_product}}</td>

              </tr>
              <tr>
                <th scope="row">Cantidad:</th>
                <td colspan="2">{{shipping.quantity}} unidades</td>
    
              </tr>

              <tr>
                <th scope="row">Fecha de registro:</th>
                <td colspan="2">{{shipping.register_date}} </td>
    
              </tr>

              <tr>
                <th scope="row">Fecha de entrega:</th>
                <td colspan="2">{{shipping.delivery_date}} </td>
    
              </tr>

              <tr>
                <th scope="row">Bodega de entrega:</th>
                <td colspan="2">{{shipping.cellar_delivery}} </td>
    
              </tr>

              <tr>
                <th scope="row">Placas del vehículo:</th>
                <td colspan="2">{{shipping.id_transport}} </td>
    
              </tr>

              <tr>
                <th scope="row">Numero de guia:</th>
                <td colspan="2">{{shipping.number_guide}} </td>
    
              </tr>

              
            </tbody>
          </table>

          <div class="mt-3" *ngIf="shipping.quantity > 10">

            <div *ngIf="shipping.logistic == 'Maritima'">
                <h4>Total Costo de Envió: <strong>$ {{shipping.price - (shipping.price * 0.03)}}</strong> </h4>
                <h6><del>$ {{shipping.price}}</del></h6>
                <small>Descuento del 3% por 10+ unidades de envió en logistica Maritima</small>
            </div>

            <div *ngIf="shipping.logistic == 'Terrestre'">
                <h4>Total Costo de Envió: <strong>$ {{shipping.price - (shipping.price * 0.05)}}</strong> </h4>
                <h6><del>$ {{shipping.price}}</del></h6>
                <small>Descuento del 5% por 10+ unidades de envió en logistica Terrestre</small>
            </div>
            
          </div>


          <div class="mt-3" *ngIf="shipping.quantity <= 10">
            
             <h4>Total Costo de Envió: <strong>$ {{shipping.price }}</strong> </h4>
            
          </div>
     


        



    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success btn-lg"   (click)="modal.close('Save click')" (click)="onSubmitShipping()">Realizar envió</button>
      
    </div>
  </ng-template>